body {
  background: #509F90;
}

ul {
  list-style-type: none;
  margin: 10;
  padding: 10;
  overflow: hidden;
  font-family: arial,sans-serif;
  background-color: #07555C;
}

ul li a {
  float: left;
  padding: 14px 16px;
  color: white;
}

p {
  font-size: 18px;
  font-family: arial,sans-serif;
}

form {
    border-style: solid;
    border-width: 5px;
    border-color: white;
    font-size: 56px;
    font-family: Arial,sans-serif;
}