body {
  background: #509F90;
}

ul {
  list-style-type: none;
  margin: 10;
  padding: 10;
  overflow: hidden;
  font-family: arial,sans-serif;
  background-color: #07555C;
}

ul li a {
  float: left;
  padding: 14px 16px;
  color: white;
}

